#cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('Safe.jpg');
	background-size: cover;
	background-position: center;
}

#chew {
	position: relative;
	max-width: 600px;
	text-align: center;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#code {
	width: 350px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	color: white;
   text-shadow: 2px 2px #000;
	
}

::-webkit-input-placeholder {
   color: white;
   text-shadow: 2px 2px #000;
   
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
   text-shadow: 2px 2px #000;
     
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   text-shadow: 2px 2px #000;
     
}

:-ms-input-placeholder {  
   color: white;
   text-shadow: 2px 2px #000;
     
}

#chewy {
	font-family: 'PT Sans', arial, serif;
	color:#ffffff;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	padding:10px 40px;
	
	text-shadow: /* Simulating Text Stroke */
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
	
	border: 1px solid rgba(0,0,0,0.5);
	border-bottom: 3px solid rgba(0,0,0,0.5);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	background: rgba(0,0,0,0.25);

    -o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
	
	box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

	margin: 40px;
	display: inline-block;
	text-decoration: none;
}

#main_background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('programming.jpg');
	background-size: cover;
	background-position: center;
	display: none;
}

#main {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
}

#overlay {
	position: absolute;
	left: 0;
	right:0;
	top:0;
	bottom: 0;
	background-color: rgba(0,102,204,0.5);
	
}
#message {
	color: white;
	font-size: 1.3em;
	padding: 30px;
	text-align: center;
	text-shadow:  
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

section {
	width: 50%;
	position: relative;
	height: 275px;

}

#one {
	float: left;
}
#two {
	float: right;
}

#three {
	float: left;
}

#four {
	float: right;
}

#one div {
	background-image: url('pic1.jpg');
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 250px;
	margin: 0 auto;
	border: 5px solid #fff;
}
#two div {
	background-image: url('pic2.jpg');
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 250px;
	margin: 0 auto;
	border: 5px solid #fff;
}#three div {
	background-image: url('pic3.jpg');
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 250px;
	margin: 0 auto;
	border: 5px solid #fff;
}#four div {
	background-image: url('pic4.jpg');
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 250px;
	margin: 0 auto;
	border: 5px solid #fff;
}

